<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PendataanAlumni"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:theme = "@style/Theme.Design.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fragmentHome"
            android:theme = "@style/Theme.Design.Light.NoActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".fragmentBerita"
            android:theme = "@style/Theme.Design.Light.NoActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".detailBerita"
            android:theme = "@style/Theme.Design.Light.NoActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".profilePage"
            android:theme = "@style/Theme.Design.Light.NoActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".tambahDataPage"
            android:theme = "@style/Theme.Design.Light.NoActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".dataAlumniPage"
            android:theme = "@style/Theme.Design.Light.NoActionBar"
            android:exported="true">
        </activity>

        <activity
            android:name=".detailDataAlumniPage"
            android:theme = "@style/Theme.Design.Light.NoActionBar"
            android:exported="true">
        </activity>

    </application>

</manifest>